:root{
    --cor1: #3f4137;
    --cor2: #8d918e;
    --cor3: #bcc2c3;
}
header img{
    width: 100%;
    content: url(../img/screen_mobile.jpg);
}
nav a{
    color: white;
    background-color: var(--cor1);
}
.topics a{
    text-decoration: underline;
}
#login p{
    margin-right: 20%;
}
#sign p{
    width: 50%;
}

#sign input{
    display: block;
    margin-bottom: 10px;
}