:root{
    --cor1: #3f4137;
    --cor2: #8d918e;
    --cor3: #bcc2c3;
}
header, main{
    margin: auto;
    display: block;
    max-width: 1000px;
}
header img{
    content: url(../img/screen_desktop.jpg);
}
nav a:hover{
    color: white;
    background-color: var(--cor1);
}
.topics a:hover{
    text-decoration: underline;
}
#login p{
    margin-right: 40%;
}
#sign label{
    margin-left: 30px;
}
#sign p{
    margin-right: 20%;
    text-align: right;
}